<nav>
	<a href="#/coffeebar" class="coffee">Coffee &amp; Teas</a>
	<a href="#/breakfast" class="breakfast">Breakfast</a>
	<a href="#/lunch" class="lunch">Lunch</a>
	<a href="#/bakery" class="bakery">Bakery</a>
	<a href="#/breads" class="breads">Breads</a>
	<a href="#/deli" class="deli">Deli</a>
	<a href="#/ravoli" class="ravoli">Ravoli</a>
</nav>


<div class="catering">
	<p>Caffe Nelle Cucine is available for all sorts of catering functions: breakfast, lunch, special order cakes and pastries.</p>
	<p>Let us cater you next office party, birthday, communion, baptism, graduation or any othersocial gathering</p>
	<p>Please <a href="contact.html">contact us</a> for more info</p>
</div>