/* ==========================================================================
	Custom Variables
   ========================================================================== */

@mainColor     : #f4e6cc;
@accentColor   : #8a8571;
@tertairyColor : #b3b496;
@headlineColor : #a2ccd0;
@btnColor      : #dedba7;

@dottedBd : 1px dotted @accentColor;

@serifFont : Georgia, Palatino, serif;
@sansFont  : Arial, Helvetica, sans-serif;

// Media Query Definintions
@retina : ~"print,(-o-min-device-pixel-ratio: 5/4),(-webkit-min-device-pixel-ratio: 1.25),(min-resolution: 120dpi)";
@phone  : ~"(min-width: 30em)"; /* 480px */
@tablet : ~"(min-width: 48em)"; /* 768px */
@labtop : ~"(min-width: 61.25em)"; /* 980px */
@xlarge : ~"(min-width: 75em)"; /* 1200px */

@anim: all 0.3s linear;


.font-size(@sizeValue) {
  @remValue: @sizeValue;
  @pxValue: (@sizeValue * 10);
  font-size: ~"@{pxValue}px"; 
  font-size: ~"@{remValue}rem";
}

// Background sizing
.background-size(@size) {
  -webkit-background-size: @size;
     -moz-background-size: @size;
       -o-background-size: @size;
          background-size: @size;
}