//
// Responsive: Large desktop and up
// --------------------------------------------------

// @media (min-width: 980px) and (max-width: 1199px / 74.9375em)  {
@media (min-width: 61.25em)  {

	// // Fixed grid
	// @include grid-core($gridColumnWidth1200, $gridGutterWidth1200);
	// // Fluid grid
	// @include grid-fluid($fluidGridColumnWidth1200, $fluidGridGutterWidth1200);
	// // Input grid
	// @include grid-input($gridColumnWidth1200, $gridGutterWidth1200);

	// Thumbnails
	.thumbnails {
		margin-left: -$gridGutterWidth1200;
	}
	.thumbnails > li {
		margin-left: $gridGutterWidth1200;
	}
	.row-fluid .thumbnails {
		margin-left: 0;
	}

	@include grid-setup("desk");


	/******************************  Baseline Test Page */
	#baseLine {
		#changing {
			.main { 
				@extend %desk-half; 
				@include offset(left, one-quarter); 
			}
			.side { @extend %desk-one-quarter; }
		}
		#jumping {
			div { @extend %desk-half;
				+ div { @extend %desk-half;
					+ div { @extend %desk-full; }
				}
			}
		}
		#nested {
			div { @extend %desk-half; }
			.grid-wrap { @extend %desk-full;
				.grid-col { @extend %desk-half; }
			}
		}
		#smaller {
			div { @extend %desk-one-quarter; }
		}
		#blocked { 
			.grid-col { @extend %desk-one-third;
				+ .grid-col { @extend %desk-two-thirds; }
			}
		}
	}
	/*******************************/


}
