//
// Responsive: Large desktop and up
// --------------------------------------------------

// @media (min-width: 1200px) 
@media (min-width: 75em) {

	// // Fixed grid
	// @include grid-core($gridColumnWidth1200, $gridGutterWidth1200);
	// // Fluid grid
	// @include grid-fluid($fluidGridColumnWidth1200, $fluidGridGutterWidth1200);
	// // Input grid
	// @include grid-input($gridColumnWidth1200, $gridGutterWidth1200);

	// Thumbnails
	.thumbnails {
		margin-left: -$gridGutterWidth1200;
	}
	.thumbnails > li {
		margin-left: $gridGutterWidth1200;
	}
	.row-fluid .thumbnails {
		margin-left: 0;
	}

	@include grid-setup("large");

	/*********************  Baseline Test Page */
	#baseLine {
		#basic {
			
		}
		#changing {
			.side { @extend %large-one-quarter;  }
			.main { 
				@extend %large-half; 
				@include offset(left, one-quarter); 
			}	
		}
		#jumping {
			div { @extend %large-one-quarter; 
				+ div { @extend %large-half; 
					+ div { @extend %large-one-quarter; }
				}
			}
		}
		#nested {
			div { @extend %large-half; }
			.grid-wrap { @extend %large-full;
				.grid-col { @extend %large-half; }
			}
		}
		#smaller {
			div { @extend %large-one-quarter; }
		}
		#blocked { 
			.grid-col { @extend %large-two-thirds;
				+ .grid-col { @extend %large-one-third; }
			}
		}
	}
	/*********************/




}
