.btn {
	@include transition($anim);
	border-radius: 5px;
	border: none;
	letter-spacing: 1.5px;

	span { display: inline-block; }


	&--nav-toggle {
		@include absolute(top 8px right 10px);
		@include square(28px);
		padding: 0;
		background: none;
		border-radius: 0;

		@include breakpoint("tablet") {
			display: none;
		};
		
		&:focus {
			outline: none;

			.iconic-menu * {
				@include iconic-color($c-NavHover);
			}
		}

		.iconic-menu * {
			@include iconic-color(white);
			stroke-linecap: round;
		}
	}

	&--view-more {
		@include typecsset-font-size(10px);
		color: $c-NavHover;
		text-transform: uppercase;
		
		margin-bottom: 15px;

		background-color: rgba($mainColor, .1);

		
		&:hover,
		&:focus {

			.no-touch & {
				background-color: rgba($mainColor, .3);
				color: darken($c-NavHover, 10%);

				.iconic-chevron * {
					@include iconic-color(darken($c-NavHover, 10%));
				}
			}
		}


		.icon {
			@include relative(top -1px);
			@include square(9px);
		}

		.iconic-chevron * {
			@include iconic-color($c-NavHover);
			@include transition($anim);
		}
	}


	&--email-signup {
		@include typecsset-font-size(10px);
		text-align: center;
		background: rgba($btnColor, 0.1);
		color: #b3b496;

		&:hover,
		&:focus {
			background: rgba($btnColor, 0.2);
		}

	}

}