form {

	input {
		&[type="text"],
		&[type="email"] {
			@include transition($anim);
			@include typecsset-font-size(11px);
			background: $c-InputBg;
			color: $c-Headline;
			border-radius: 5px;
			padding: 6px 10px;
			width: 100%;
			border: 1px solid $c-InputBorder;
			margin-bottom: 10px;
		
			&:focus {
				background: $c-InputBgFocus;
				outline: none;
				box-shadow: 0 0 5px $c-InputBorderFocus;
				border-color: $c-InputBorderFocus;
			}

			&::placeholder,
			&::-webkit-input-placeholder {
				color: $c-FooterTitle;
			}
		}
	}
}