/**
 * Base page styles
 */
body {
	background: url(/images/bg.jpg) repeat center top;
	font-family: $serifFont;
	color: $baseTextColor;
}

main {
	@extend .container;
}

.main-content {
	min-height: 400px;
	
	p {
		@include typecsset-font-size(16px);
		font-family: $sansFont;
		line-height: 15px;
		margin-bottom: 10px;

		&.subhead {
			@include typecsset-font-size(18px);
			margin: 5px 0 15px 0;
			line-height: 20px;
		}
	}
}

