/**
 * Base page styles
 */
body {
	background: url(/images/bg.jpg) repeat center top;
	// background: none;
	font-family: $serifFont;
	color: $c-BaseText;
}

.container {
	@include transition($anim);
	

	@include breakpoint(tablet) {
		width: $bp-tablet + 6;
		margin: 0 auto;
		padding: 0 1em;
	};

	@include breakpoint(labtop) {
		width: $bp-labtop + 8;	
	};

	@include breakpoint(desktop) {
		width: $bp-desktop + 10;
	};
}

main {
	@extend .container;
}

.main-content {
	min-height: 400px;
	
	p {
		@include typecsset-font-size(16px);
		font-family: $sansFont;
		line-height: 15px;
		margin-bottom: 10px;

		&.subhead {
			@include typecsset-font-size(18px);
			margin: 5px 0 15px 0;
			line-height: 20px;
		}
	}
}

