/**
 * Main Footer
 */
footer {
	@extend .container;
	border-bottom: $dottedBd;
	padding: 10px 0;
	
	p {
		@include typecsset-font-size(14px);
		font-family: $serifFont;
		line-height: 15px;
		margin-bottom: 10px;
	}
	
	.content__block {
		padding: 0;
		margin-bottom: 15px;
	
		&--about-more {
			display: none;
			
			&.open { display: block; }
		}
	}

	

	.testimonials {
		blockquote,
		p {
			@include typecsset-font-size(12px);
			color: #f4e6cc;
			line-height: 15px;
			margin-bottom: 5px;
		}

		blockquote {
			@include typecsset-font-size(13px);
			padding-left: 15px;
			border-left: 1px dotted #8A8571;
		}
		p {
			font-style: italic;
			text-align: right;
		}
	}
}