/**
 * Main Footer
 */
footer {
	@extend .container;
	@include clearfix;
	border-bottom: $dottedBd;
	
	p {
		@include typecsset-font-size(14px);
		font-family: $serifFont;
	}

	.content__block {
		padding: 0 15px;
		margin-bottom: 15px;

		@include breakpoint(tablet) {
			float: left;

			&:first-of-type { padding-left: 0; }
			&:last-of-type { padding-right: 0; }
		};
	
		&--about-us, &--testimonials {
			@include breakpoint(tablet) {
				width: 50%;
			};
		}

		&--about-more {
			display: none;
			
			&.open { display: block; }
		}

		&--testimonials {
			

		}

		&--hours {
			@include breakpoint(tablet) {
				width: 20%;
			};
		}

		&--menu, &--email {
			@include breakpoint(tablet) {
				width: 40%;
			};
		}

		&--legal {
			@include breakpoint(tablet) {
				padding-left: 0;
			};
		}
	}	
	

	.footer__row, .content__block--legal {
		@include clearfix;
		padding-top: 25px;
		width: 100%;
		background: url(/images/angled-lines.png) repeat-x top left transparent;
	}


	.footer__title {

	}
}