/**
 * Main Footer
 */
footer {
	@extend .container;
	@include clearfix;
	border-bottom: $dottedBd;
	
	p {
		@include typecsset-font-size(14px);
		font-family: $serifFont;
	}

	.content__block {
		padding: 0 10px;
		margin-bottom: 15px;
		float: left;

		@include breakpoint(tablet) {

			&:first-of-type { padding-left: 0; }
			&:last-of-type { padding-right: 0; }
		};
	
		&--about-us,
		&--testimonials {
			@include breakpoint(tablet) {
				width: 50%;
			};
		}

		&--about-more {
			display: none;
			
			&.open { display: block; }
		}

		&--testimonials {
			

		}

		&--hours {
			width: 50%;

			@include breakpoint(tablet) {
				width: 20%;
			};
		}
		
		&--menu {
			width: 50%;
		}
		
		&--email {
			width: 100%;
		}

		&--hours,
		&--menu {
		}

		&--menu,
		&--email {
			@include breakpoint(tablet) {
				width: 40%;
			};
		}

		&--legal {
			background: url(/images/angled-lines.png) repeat-x top left transparent;

			@include breakpoint(tablet) {
				padding-left: 0;
			};
		}
	}	
	

	.footer__row, .content__block--legal {
		@include clearfix;
		padding-top: 25px;
		width: 100%;
	}


	.footer__title {
		@include typecsset-font-size(14px);
		color: $c-FooterTitle;
		padding-bottom: 10px;
		border-bottom: 1px solid rgba(black, .08);
	}
}

