.header__menu-bar {
	
	@include clearfix;
	@include transition($anim);
	background-color: $topBarBg;
	box-shadow: inset 0 3px 3px #000;
	position: relative;
	padding-top: 44px;

	&:before {
		@include absolute(left 0 bottom 0);
		@include size(100%, 6px);
		background: url(/images/top-bar-bg.png) repeat-x center top transparent;
		display: block;
		content: "";
		z-index: $z-TopBarAngles;
	}

	@include breakpoint($bp-tablet) {
		height: 52px;
		padding-top: 0;
	};

	button {
		@include absolute(top 5px right 5px);
		@include square(28px);
		padding: 0;
		background: none;
		border: none;

		@include breakpoint($bp-tablet) {
			display: none;
		};
	}
	.iconic-menu {
		* {
			@include iconic-color(white);
		}
	}
}

.header__nav {
	@extend .container;
	padding: 0 0 10px;
	display: none;

	@include breakpoint($bp-tablet) {
		padding: 0;
		display: block !important;
	};

	a {
		&:link,
		&:visited {
			@include transition($anim);
			@include typecsset-font-size(14px);
			position: relative;
			font-family: $sansFont;
			color: white;
			text-transform: uppercase;
			letter-spacing: 1.5px;
			display: block;
			z-index: $z-MenuLinks;
			padding: 5px 10px;

			@include breakpoint($bp-tablet) {
				padding: 14px 10px;
				display: inline-block;
			};
		}

		&:hover {
			.no-touch & {
				color: $navHoverColor;
				text-decoration: none;
			}
		}

		&.active {
			background: $navHoverColor;

			&:hover { color: white; }
		}
		
	}
}