<div class="row">
	<div class="menu-head col-xs-12">
		<div ng-include="'/templates/components/menu-head.html'"></div>
	</div>
	<div class="menu-text col-xs-12">
		<p>Caffe Nelle Cucine offers some of the best fresh baked pastries in Warren County. Baked here on premise, we take care in using only the best ingredients in our desserts and baked goods. Our full time professional baker takes the time to hand craft beautiful pastries for our shop. We offer many different items on any given day ranging from Italian desserts, to country pies, to New York style pastries. Stop in today to check out our full assortment, as well as talk to our baker about any special orders you may have. We accept orders for special occasions such as birthday parties, weddings, communions, or any other get together. Contact our baker Sam at <a href="mailto:sam@caffenellecucine.com">sam@caffenellecucine.com</a>.</p>
	</div>
</div>

<div class="row">
	<div class="menu-side col-sm-3">
		<!-- <nav>
			<a ng-href="#/{{ name }}" ng-repeat="(name, cat) in categories" >{{ name | limitTo:1 | uppercase }}{{ name | limitTo:(-name.length +1) }}</a>
		</nav> -->

		<!-- <div ng-include="'/templates/components/menu-side.html'"></div> -->
	</div>
	
	<div class="menu-items col-sm-9 ">
		<section class="menu-sub-section">
			<h2>Fresh Baked Goods</h2>
			<ul>
				<li>
					<h4>Chocolate Cupcakes</h4>
					<p>Available by the dozen</p>
					<div class="prices">
						<span class="small">$2.75 indv</span>
					</div>
				</li>
				<li>
					<h4>Vanilla Cupcakes</h4>
					<p>Available by the dozen</p>
					<div class="prices">
						<span class="small">$2.75 indv</span>
					</div>
				</li>
				<li>
					<h4>Red Velvet Cupcakes</h4>
					<p>Available by the dozen</p>
					<div class="prices">
						<span class="small">$2.75 indv</span>
					</div>
				</li>
				<li>
					<h4>Peanut Butter and Jelly Cupcakes</h4>
					<p>Available by the dozen</p>
					<div class="prices">
						<span class="small">$3.00 indv</span>
					</div>
				</li>
				<li>
					<h4>Hazelnut Coffee Cupcakes</h4>
					<p>Available by the dozen</p>
					<div class="prices">
						<span class="small">$3.00 indv</span>
					</div>
				</li>
				<li>
					<h4>Coffee Cupcake with Espresso Icing</h4>
					<p>Available by the dozen</p>
					<div class="prices">
						<span class="small">$2.75</span>
					</div>
				</li>
				<li>
					<h4>Almond Cupcake with Almond Coconut Buttercream</h4>
					<p>Available by the dozen</p>
					<div class="prices">
						<span class="small">$2.75 indv</span>
					</div>
				</li>
				<li>
					<h4>Chocolate Cheesecake Cupcake</h4>
					<p>Available by the dozen</p>
					<div class="prices">
						<span class="small">$3.00 indv</span>
					</div>
				</li>
				<li>
					<h4>Lemon Ricotta Cake</h4>
					<p>Available in 1/2 and Full Sheets</p>
					<div class="prices">
						<span class="small">$1.50 indv slice</span>
					</div>
				</li>
				<li>
					<h4>Crumb Cake</h4>
					<p>Available in 1/2 and Full Sheets</p>
					<div class="prices">
						<span class="small">$2.25 indv slice</span>
					</div>
				</li>
				<li>
					<h4>Cinnamon Rolls</h4>
					<p>Available by the dozen</p>
					<div class="prices">
						<span class="small">$1.50 indv</span>
					</div>
				</li>
				<li>
					<h4>Lemon Ricotta Cheesecake</h4>
					<p>Available in 1/2 and Full Sheets</p>
					<div class="prices">
						<span class="small">$1.50 indv slice</span>
					</div>
				</li>
				<li>
					<h4>Vanilla Ricotta Cheesecake</h4>
					<p>Available in 1/2 and Full Sheets</p>
					<div class="prices">
						<span class="small">$2.75 indv slice</span>
					</div>
				</li>
				<li>
					<h4>Almond Ricotta Cheesecake</h4>
					<p>Available in 1/2 and Full Sheets</p>
					<div class="prices">
						<span class="small">$3.25 indv slice</span>
					</div>
				</li>
				<li>
					<h4>Pies (assorted flavors)</h4>
					<p>Available in 1/2 and Full Sheets</p>
					<div class="prices">
						<span class="small">8" $14.00</span>
					</div>
				</li>
				<li>
					<h4>Speciality Cupcakes</h4>
					<p>Available by the dozen</p>
					<div class="prices">
						<span class="small">$3.00 indv</span>
					</div>
				</li>
				<li>
					<h4>Molten Lava Cupcakes</h4>
					<p>Available by the dozen</p>
					<div class="prices">
						<span class="small">$3.00 indv</span>
					</div>
				</li>
				<li>
					<h4>NY Style Cheesecake</h4>
					<p>Available in 1/2 and Full Sheets</p>
					<div class="prices">
						<span class="small">$3.00 indv slice</span>
					</div>
				</li>
				<li>
					<h4>Cookies</h4>
					<p>Chocolate Chip, Oatmeal</p>
					<div class="prices">
						<span class="small">$2.25 indv</span>
					</div>
				</li>
				<li>
					<h4>Crème Brulee</h4>
					<p></p>
					<div class="prices">
						<span class="small">$4.25 indv</span>
					</div>
				</li>
				<li>
					<h4>Brownies</h4>
					<p>Available by the dozen</p>
					<div class="prices">
						<span class="small">$2.75 indv</span>
					</div>
				</li>
			</ul>
		</section>
		<!-- <section class="menu-sub-section" ng-repeat="section in menu">
			<h2>{{  section.section }}</h2>
			<ul>
				<li ng-r$epeat="item in section.items">
					<h4>{{ item.name }}</h4>
					<p ng-show="item.desc">{{ item.desc }}</p>
					<div class="prices">
						<span class="small">${{ item.sml_price }}</span>
						<span class="large" ng-show="item.lrg_price">${{ item.lrg_price }}</span>
					</div>
				</li>
				<li class="extras" ng-show="section.extras">
					<span ng-repeat="extra in section.extras">
						{{ extra.name }} <em ng-show="extra.price">{{ extra.price }}</em>
					</span>
				</li>
			</ul>
		</section> -->
	</div>

</div>