<div class="row">
	<div class="menu-head col-xs-12">
		<div ng-include="'/templates/components/menu-head.html'"></div>
	</div>
	<div class="menu-text col-xs-12">
		<p></p>
	</div>
</div>

<div class="row">
	<div class="menu-side col-sm-3">
	<!-- <nav>
			<a ng-href="#/{{ name }}" ng-repeat="(name, cat) in categories" >{{ name | limitTo:1 | uppercase }}{{ name | limitTo:(-name.length +1) }}</a>
		</nav>

		<div ng-include="'/templates/components/menu-side.html'"></div> -->
	</div>
	
	<div class="menu-items col-sm-9">
		<section class="menu-sub-section" ng-repeat="section in menu">
			<h2>{{  section.section }}</h2>
			<ul>
				<li ng-repeat="item in section.items">
					<h4>{{ item.name }}</h4>
					<p ng-show="item.desc">{{ item.desc }}</p>
					<div class="prices">
						<span class="small">${{ item.sml_price }}</span>
						<span class="large" ng-show="item.lrg_price">${{ item.lrg_price }}</span>
					</div>
				</li>
				<li class="extras" ng-show="section.extras">
					<span ng-repeat="extra in section.extras">
						{{ extra.name }} <em ng-show="extra.price">{{ extra.price }}</em>
					</span>
				</li>
			</ul>
		</section>
	</div>

</div>

