<div class="row">
	<div class="menu-head col-xs-12">
		<h3>&#187; Who We Are and What We Do</h3>
		<h1 class="page-title">Catering Options</h1>
	</div>
	<div class="menu-text col-xs-12">
		<p>Are you having a get together soon? Will there be people? Well if you said yes to both, there's a good chance that you will need to feed those people. Now you may be a go getter and want to do it all yourself, but if you're looking for a little help, Caffe Nelle Cucine is here for you. We have a full catering menu featuring everything from breakfast to lunch. Have a business meeting and you want everyone to stay awake? Call us about our breakfast packages. Maybe you're having a birthday party and need a centerpiece for food. How about a six foot sub? Or maybe you're hosting a dinner for a fundraiser or charity, then call us about catering trays. Oh, and did we mention we deliver? Email <a href="mailto:philjr@caffenellecucine.com">philjr@caffenellecucine.com</a> now for more information. </p>

		<p class="small">* Most orders require at least 72 hour notice, larger orders may require more.</p>
	</div>
</div>

<div class="row catering">
	<div class="col-sm-6">
		<section class="menu-sub-section">
			<h2>Sandwich Platters</h2>
			<p>All Sandwiches proudly made with Boars Head Meats and Cheeses. Includes choice of Italian Dressing, Mayo and Mustard</p>
			<p class="extras">Additional Condiments: Hot Cherry Pepper Relish, Vinegar Peppers, Red Pepper Mayo, Chipotle Mayo <span class="price">$.50 per condiment</span></p>
			
			<h2>Basic Package <span class="price">$5 per person</span></h2>
			<ul>
				<li><h4>Ham &amp; American Cheese</h4></li>
				<li><h4>Salami &amp; Provolone</h4></li>
				<li><h4>Turkey &amp; Cheddar</h4></li>
			</ul>

			<h2>Deluxe Package <span class="price">$6 per person</span></h2>
			<ul>
				<li><h4>Proscuitto &amp; Mozzarella</h4></li>
				<li><h4>Roased Eggplant &amp; Sharp Provolone</h4></li>
				<li><h4>Roast Beef &amp; Sharp Cheddar</h4></li>
				<li><h4>Ham &amp; Swiss</h4></li>
			</ul>

			<h2>Vip Package <span class="price">$8 per person</span></h2>
			<ul>
				<li><h4>Italian Hero</h4></li>
				<li><h4>Cal Club</h4></li>
				<li><h4>Eggplant Panini</h4></li>
				<li><h4>Chick Panini</h4></li>
			</ul>

			<h2>3 and 6 Foot Subs Available</h2>
			<p>Pick any assortment of meats and cheese with your selection of toppings and confiments and we'll arrange a sub for you</p>
			<p class="extras">Price dependent on select of products</p>
		</section>
	</div>
	<div class="col-sm-6">
		<section class="menu-sub-section">
			<h2>Classic Italian Catering</h2>
			<ul>
				<li>
					<h4>Fresh Mozzarella and Cherry Tomatoes</h4>
					<p>Sliced Fresh Mozzarella topped with Cherry Tomatoes and drizzled with Balsamic Dressing</p>
					<div class="prices">
						<span class="small">$32</span>
						<span class="large">$58</span>
					</div>
				</li>
				<li>
					<h4>Penne Vodka</h4>
					<p>Penne pasta combined with a Homemade Vodka Cream Sauce</p>
					<div class="prices">
						<span class="small">$38</span>
						<span class="large">$59</span>
					</div>
				</li>
				<li>
					<h4>Baked Ziti</h4>
					<p>Ziti pasta mixed with Ricotta Cheese and topped with Mozzarella</p>
					<div class="prices">
						<span class="small">$38</span>
						<span class="large">$59</span>
					</div>
				</li>
				<li>
					<h4>Broccoli and Cavatelli</h4>
					<p>Broccoli sauteed with Garlic and Olive Oil, tossed with Cavatelli pasta</p>
					<div class="prices">
						<span class="small">$38</span>
						<span class="large">$59</span>
					</div>
				</li>
				<li>
					<h4>Chicken Francaise</h4>
					<p>Floured Chicken in a Garlic, Lemon and White Wine Sauce</p>
					<div class="prices">
						<span class="small">$43</span>
						<span class="large">$69</span>
					</div>
				</li>
				<li>
					<h4>Chicken Marsala</h4>
					<p>Floured Chicked in a Brown Mushroom Marsala Sauce</p>
					<div class="prices">
						<span class="small">$43</span>
						<span class="large">$69</span>
					</div>
				</li>
				<li>
					<h4>Chicken Parmagiana</h4>
					<p>Breaded Chicked topped with Homemade Marinara Sauce and Mozzarella Cheese</p>
					<div class="prices">
						<span class="small">$43</span>
						<span class="large">$69</span>
					</div>
				</li>
				<li>
					<h4>Sausage Italian Style</h4>
					<p>Sauteed Sausage mixed with Potatoes, Peppers and Onions</p>
					<div class="prices">
						<span class="small">$42</span>
						<span class="large">$69</span>
					</div>
				</li>
				<li>
					<h4>Eggplant Rollantine</h4>
					<p>Thin sliced and rolled with Fresh Ricotta Cheese and topped with Marinara Sauce and Mozzarella</p>
					<div class="prices">
						<span class="small">$42</span>
						<span class="large">$67</span>
					</div>
				</li>
				<li>
					<h4>Italian Salad</h4>
					<p>Fresh Lettuce tossed with Vegetables, Ham, Salami, Pepperoni, and Provolone Cheese, topped with Shredded Mozzarella</p>
					<div class="prices">
						<span class="small">$32</span>
						<span class="large">$62</span>
					</div>
				</li>
			</ul>
		</section>
	</div>
</div>

