/**
 * General Typography
 */

h1,
h2,
h3,
h4,
h5 {
	font-family: $sansFont;
	font-weight: normal;
	color: $color-Headline;
}


blockquote {
	position: relative;
	quotes: none;
	
	i {
		@include absolute(top 0 left -50px);
		@include size(2.5em, 2em);
		display: block;

		.iconic {
			@include relative(left 5px);
		}

		.iconic-double-quote-serif * {
			@include iconic-color($color-BaseText);
		}
	}

	p {
		@include typecsset-font-size(14px);
		font-style: italic;
	}

	cite {
		text-align: right;
	}
}