/**
 * Colors
 */
$teal : #13d4d3;


$bg-TopBar : #251505;

$color-BaseText : #474747;
$color-Headline : #343434;

$color-NavHover : $teal;




$mainColor     : #f4e6cc;
$accentColor   : #8a8571;
$tertairyColor : #b3b496;

$btnColor      : #dedba7;


$dottedBd : 1px dotted $accentColor;


/**
 * Misc
 */
$anim: all 0.3s linear;




/**
 * Font Settings
 */
$typecsset-show-baseline    : true;

$serifFont : Georgia, Palatino, serif;
$sansFont  : 'Oswald', Helvetica, sans-serif;


/**
 * Breakpoints
 */
$bp-tablet  : 48em;  // 767px
$bp-labtop  : 62em;  // 992px
$bp-desktop : 75em;  // 1200px

$breakpoints: (
  "tablet"  : (min-width: $bp-tablet),
  "labtop"  : (min-width: $bp-labtop),
  "desktop" : (min-width: $bp-desktop)
);



/**
 * Z - Index
 */
$z-MenuLinks    : 5;
$z-TopBarAngles : 10;


