/**
 * Colors
 */
$teal     : #13d4d3;
$darkTeal : #6b8d91;


$bg-TopBar : #251505;

$c-BaseText : #474747;
$c-Headline : #343434;

$c-NavHover : $darkTeal;

$c-FooterTitle : #6f6f6f;
$c-FooterLink  : #7e7e7e;


$c-InputBg          : rgba(black, .02);
$c-InputBgFocus     : rgba(black, .08);
$c-InputBorder      : rgba(black, .13);
$c-InputBorderFocus : rgba(black, .3);





$mainColor     : #f4e6cc;
$accentColor   : #8a8571;
$tertairyColor : #b3b496;

$btnColor      : #dedba7;


$dottedBd : 1px dotted $accentColor;




/**
 * Misc
 */
$anim: all 0.3s linear;




/**
 * Font Settings
 */
$typecsset-show-baseline    : true;

$serifFont : Georgia, Palatino, serif;
$sansFont  : "Oswald", Helvetica, sans-serif;


/**
 * Breakpoints
 */
$bp-tablet  : 48em;  // 767px
$bp-labtop  : 62em;  // 992px
$bp-desktop : 75em;  // 1200px

$breakpoints: (
	"tablet"  : (min-width: $bp-tablet),
	"labtop"  : (min-width: $bp-labtop),
	"desktop" : (min-width: $bp-desktop)
);



/**
 * Z - Index
 */
$z-layers: (
	"menu-links"    : 5,
	"topbar-angles" : 10
);


