

$mainColor     : #f4e6cc;
$accentColor   : #8a8571;
$tertairyColor : #b3b496;
$headlineColor : #a2ccd0;
$btnColor      : #dedba7;

$dottedBd : 1px dotted $accentColor;

$serifFont : Georgia, Palatino, serif;
$sansFont  : Arial, Helvetica, sans-serif;


$anim: all 0.3s linear;



/**
 * Font Settings
 */
$typecsset-show-baseline    : true;
$typecsset-base-font-size   : 16px;
$typecsset-base-line-height : 24px;